{% extends 'core/layout.html' %}
{% load static %} 
{% block content %}
        <main class="l-main">
            <!--===== HOME =====-->
            <section class="home bd-grid" id="home">
                <div class="home__data">
                    <h3 class="home__title">Hi,<br>I'am <span class="home__title-color">Tejas</span><br> Software Engineer</h3>

                    <a href="#" class="button">Contact</a>
                </div>

                <div class="home__social">
                    <a href="" class="home__social-icon-instagram"><i class='bx bxl-instagram' style=" width: 1em; display: inline-block;"></i></a>
                    <a href="" class="home__social-icon-facebook"><i class='bx bxl-facebook'></i></a>
                    <a href="" class="home__social-icon-linkedin"><i class='bx bxl-linkedin' ></i></a>
                    <a href="" class="home__social-icon-github"><i class='bx bxl-github' ></i></a>
                    <a href="" class="home__social-icon-gmail"><i class="material-icons">mail_outline</i></a>
               
                </div>
                
                <div class="home__img">    
                    <img src="assets/img/perfil.png" alt="">
                </div>
            </section>

            <!--===== ABOUT =====-->
            <section class="about section " id="about">
                <h2 class="section-title">About</h2>

                <div class="about__container bd-grid">
                    <div class="about__img">
                        <img src="{% static 'img/work1.jpg' %}" alt="">
                    </div>
                    
                    <div>
                        <h2 class="about__subtitle">I'am Tejas</h2>
                        <p class="about__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate cum expedita quo culpa tempora, assumenda, quis fugiat ut voluptates soluta, aut earum nemo recusandae cumque perferendis! Recusandae alias accusamus atque.</p>           
                    </div>                                   
                </div>
            </section>
           
            <!--===== SKILLS =====-->
            <section class="skills section" id="skills">
                <h2 class="section-title">Skills</h2>

                <div class="skills__container bd-grid">          
                    <div>
                        <h2 class="skills__subtitle">Profesional Skills</h2>
                        <p class="skills__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit optio id vero amet, alias architecto consectetur error eum eaque sit.</p>
                        
                        <section class="card-list">
                            {% for skill in skills %}
                                <article class="card">
                                    <header class="card-header">  
                                        <a class="image-logo" href="">
                                            <img src="{{skill.url}}">
                                        </a>                                                                                                       
                                    <h2>{{skill.skill}}</h2>                
                                    </header>               
                                </article>
                            {% endfor %}
                                               
                        </section>                       
                        </div>
                    </div>
                    
                </div>
            </section>

            <!--===== WORK =====-->
            <section class="work section" id="work">
                <h2 class="section-title">Work</h2>

                <div class="work__container bd-grid">
                    <div class="work__img">
                        <img src="{% static 'img/work1.jpg' %}" alt="">
                        <a href="https://www.youtube.com/watch?v=VuNIsY6JdUw&list=RDMi2cURoOAYY&index=9">Read More</a>
                    </div>
                    <div class="work__img">
                        <img src="{% static 'img/work1.jpg' %}" alt="">
                    </div>
                    <div class="work__img">
                        <img src="{% static 'img/work1.jpg' %}" alt="">
                    </div>
                    <div class="work__img">
                        <img src="{% static 'img/work1.jpg' %}" alt="">
                    </div>
                    <div class="work__img">
                        <img src="{% static 'img/work1.jpg' %}" alt="">
                    </div>
                    <div class="work__img">
                        <img src="{% static 'img/work1.jpg' %}" alt="">
                    </div>
                </div>
            </section>

            <section class="work section">
              
                    <h2 class="section-title">Projects</h2>
        
                    <div class="work__container bd-grid">
                        {% for post in posts %}
                        
                       <div class="work__img">
                                <a href="http://google.com"><img src="{% static 'img/work1.jpg' %}" alt=""></a>
                                <div class="post-preview">
                                    <h4 class="post-title">{{post.headline}}</h4>
                                    <p class="post-intro">{{post.body}}</p>                                 
                                </div>
                            </div>
                        {% endfor %}
                    </div>
        
                   
                
            </section>
            <!--===== CONTACT =====-->
            <section class="contact section" id="contact">
                <h2 class="section-title">Contact</h2>

                <div class="contact__container bd-grid">
                    <form action="" class="contact__form">
                        <input type="text" placeholder="Name" class="contact__input">
                        <input type="mail" placeholder="Email" class="contact__input">
                        <textarea name="" id="" cols="0" rows="10" class="contact__input"></textarea>
                        <input type="button" value="Enviar" class="contact__button button">
                    </form>
                </div>
            </section>
        </main>

{% endblock content %}
