<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <!-- =====BOX ICONS===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <style type="text/css">
            .footer {
                background-color: #17141d;
                color: #fff;
                text-align: center;
                font-weight: var(--font-semi);
                padding: 1rem 0;
              }
        </style>
        <title>Portfolio website complete</title>
        
    </head>
<body>
    {% include 'core/navbar.html' %}
    {% block content %}
    <!-- CONTENT -->
    {% endblock content %}

    <!--===== FOOTER =====-->
    <footer class="footer">
    
        <p>&#169; 2020 copyright all right reserved</p>
    </footer>

  <!--===== SCROLL REVEAL =====-->
  <script src="https://unpkg.com/scrollreveal"></script>

  <!--===== MAIN JS =====-->
  <script src="{% static 'js/main.js' %}"></script>
</body>
</html>