{% extends 'core/layout.html' %}
{% load static %} 
{% block content %}

<section class="work section">
              
    <h2 class="section-title">Projects</h2>

    <div class="work__container bd-grid">
        {% for post in posts %}
        
       <div class="work__img">
                <a href="{%  url 'post' post.id %}"><img src="{{post.url}}" alt=""></a>
                <div class="post-preview">
                    <h4 class="post-title">{{post.headline}}</h4>
                    <p class="post-intro">{{post.body}}</p> 
                  
                    <a class="link" href="{%  url 'post' post.id %}">Read More</a>  
                    <hr>
                    {% for tag in post.tags.all %} 
                    <span class="tag">{{tag}}</span>
                    {% endfor %}                          
                </div>
            </div>
        {% endfor %}
    </div>

   

</section>

{% endblock content %}