{% extends 'core/layout.html' %}
{% load static %} 
{% block content %}
{% load crispy_forms_tags %}

<!--===== SEARch=====-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style type="text/css"> 
    #id_tags{
        max-height: 100px;
        overflow-y: scroll;
        border: 1px solid #888;
        border-radius: 5px;
        padding:5px;
    }
   
    #id_headline{
        width: 100%;
        font-size: 12px;
        font-weight: var(--font-semi);
        padding: 1rem;
        border-radius: .5rem;
        border: 1.5px solid #888;
        outline: none;
        margin-bottom: var(--mb-4);
    }
    #id_headline:hover{
        transform: scale(1.02);
        transition: 0.5s;

    }
    .contact__form{
        width: 760px;
      }
    .work{
padding-top: 1rem;
      }
      .contact__button{
        margin-top: 15px;
      }

</style>
<section class="contact section bd-grid">
    <h2 class="section-title">Search</h2>

    <div class="contact__container bd-grid">
        <form  method="GET" action="" class="contact__form">
            {{myfilter.form|crispy}}
            <!-- <input type="text" placeholder="Search" class="contact__input"> -->
            <input type="submit" value="Search" class="contact__button button">
           

        </form>
    </div>
    
</section>
<section class="work section">
              
    <h2 class="section-title">Projects</h2>

    <div class="work__container bd-grid">
    {% for post in posts %}     
       <div class="work__img">
                <a href="{%  url 'post' post.id %}"><img src="{{post.url}}" alt=""></a>
                <div class="post-preview">
                    <h4 class="post-title">{{post.headline}}</h4>
                    <p class="post-intro">{{post.body}}</p> 
                  
                    <a class="link" href="{%  url 'post' post.id %}">Read More</a>  
                    <hr>
                    {% for tag in post.tags.all %} 
                    <span class="tag">{{tag}}</span>
                    {% endfor %}                          
                </div>
            </div>
        {% endfor %}
    </div>

   

</section>

{% endblock content %}